.login {
    display: grid;
    height: 100vh;

    &__container {
        display: grid;
        grid-template-columns: 90%;
        place-content: center;

        @media (min-width: 768px) {
            grid-template-columns: 320px;
        }
    }

    &__title {
        text-align: center;

        .logo {
            width: 120px;
        }
    }

    &__form {
        position: relative;

        &__label {
            display: block;
            margin-bottom: 1rem;
        }

        &__input {
            border-radius: 5px;
            border: 1px solid #ccc;
            display: block;
            margin-top: .25rem;
            padding: .75rem;
            transition: all 300ms ease;
            width: 100%;

            &:focus {
                border-color: #333;
                outline-offset: 2px;
            }
        }

        &__error {
            color: red;
            position: absolute;
            top: calc(100% + 1rem);
            width: 100%;
        }

        &__button {
            background-color: #333;
            border-radius: 5px;
            border: 1px solid transparent;
            color: #fff;
            cursor: pointer;
            display: block;
            font-size: 1rem;
            font-weight: 500;
            margin-top: 2rem;
            padding: .75rem;
            position: relative;
            transition: all 300ms ease;
            width: 100%;

            &.success {
                background-color: #28a745;
            }
        }
    }
}