@use "reset";
@use "typography";

html,
body {
    height: 100%;
}

body {
    display: grid;
    padding: 1rem;
    place-content: center;

    @media (min-width: 768px) {
        padding: 0;
    }
}

.error-page {
    display: grid;
    place-items: center;

    &__image {
        height: auto;
        margin-bottom: 2rem;
        width: 150px;

        @media (min-width: 768px) {
            width: 200px;
        }
    }
}