body {
    color: #333;
    font-size: 14px;
    line-height: 1.5;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

html {
    font-size: 14px;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

body {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
}

h1 {
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.5em;
}

h5 {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.5em;
}

h6 {
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}