.page_users {
    padding: 2.5rem 0;
}

.users {
    display: grid;
    grid-template-columns: 90%;
    place-content: center;
    
    &__header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    
    &__filter {
        align-items: center;
        display: flex;
        gap: 1rem;
    }
    
    &__logout {
        margin-left: auto;
    }

    &__table {
        border-radius: var(--border-radius);
        border: 1px solid var(--border-ligth-color);
        box-shadow: 0 0 15px #eee;
        padding: 1rem;
    }

    &__row {
        align-items: center;
        border-bottom: 1px solid var(--border-ligth-color);
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        &:last-child {
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__avatar {
        border-radius: 100%;
        margin-right: .5rem;
        max-width: 35px;

        @media (min-width: 768px) {
            // max-width: 65px;
        }
    }

    &__name,
    &__email {
        margin: 0;
    }

    &__name {
        margin-right: .5rem;
    }
}